* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;;
    background-color: #f2f2f2;
}











/*************BACK ARROWS********************/



.top-wrapper {
    position: absolute;
    top: 140vh;
    display: flex;
    text-align: center;
    padding-left: 10vw;
}



  
.link {
    position: sticky;
    pointer-events: all;
    text-decoration: none;
	max-width: 100%;
	height: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #333;
}


.top-1 {
    top: 140vh;
}

.top-2 {
    top: 250vh;
}

.top-3 {
    top: 360vh;
}

.top-4 {
    top: 460vh;
}

/**************BACK ARROWS*******************/






/* GENERAL BUTTON */

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #333;
    color: #ffffff;
}

/* END OF GENERAL BUTTON */






/* HEADER AND NAV-BAR SECTION */

header {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0 0 25px 25px;
}

.nav-bar {
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
    padding: 10px;
    width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
  
.nav-bar img {
	max-width: 100%;
	height: 40px;
}
  
.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
  
.nav-bar li {
    margin-left: 30px;
}
  
.nav-bar ul a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}
  
.nav-bar a:hover {
    color: #7c7c7c;
    transition: all 0.2s ease-in-out;
}

/* END OF HEADER AND NAV-BAR SECTION */







/* RESPONSIVE NAV-BAR */

@media only screen and (max-width: 550px) {

    header {
        position: relative;
    }

    .nav-bar  {
        display: flex;
        flex-direction: column;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
    }

    .nav-bar ul li{
        padding: 10px;
    }
}

/* END OF RESP NAV */








/* HERO SECTION */

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    margin-top: 100px;
    height: 85vh;
    margin-bottom: 20vh;
}

#hero::before {
    content: "";
    background-image: url(https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
    background-size: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    border-radius: 25px;
  }

 
#hero h1 {
    position: relative;
    z-index: 1;
    font-size: 42px;
    margin-top: 200px;
    color: #171717;
    font-weight: 800;
}
  
#hero p {
    position: relative;
    z-index: 1;
    font-size: 16px;
    margin-top: 5px;
    color: 171717;
    font-weight: 500;
}

#hero .btn{
    margin-top: 40px;
}


/* END OF HERO SECTION */




/* RESPONSIVE HERO */

@media only screen and (max-width: 550px) {

    #hero{
        margin-top: 10px;
    }
}

/* END OF RESP HERO */








/* PRESENTATION SECTION */
  
#about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0 10vh 0;
    margin: 100px 0 100px 0;
}

#about img {
    width: 40%;
    height: auto;
    opacity: 60%;
    border-radius: 25px 0 0 25px;
}

#about .side-1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 650px;
    padding-left: 5vw;
}

#about p {
    padding: 0 60px 0 60px;
}

#about .btn {
    margin-top: 5vh;
    background-color: #333;
    color: #ffffff;
}

#about .btn:hover {
    background-color: #ffffff;
    color: #333;
}

/* END OF PRESENTATION SECTION */







/* RESP PRESENTATION SECTION */

@media only screen and (max-width: 960px) {

    #about {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 50vh;
    }
    
    #about::before {
        content: "";
        background-image: url(https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        border-radius: 25px;
      }

    #about img {
        display: none;
    }

}

/* END OF RESP PRESENTATION SECTION */








/* SERVICES SECTION */

#services {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0 10vh 0;
    margin: 100px 0 100px 0;
}

#services img {
    width: 60%;
    height: auto;
    opacity: 60%;
    border-radius: 0 25px 25px 0;
}

#services form {
    display: inline-block;
    text-align: left;
    margin: 50px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#services form label {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

#services form input[type="text"], #services form input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#services form input[type="date"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


#services form button[type="submit"] {
    display: inline-block;
    padding: 10px 40px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#services form button[type="submit"]:hover {
    background-color: #056644;
}


/* END OF SERVICES SECTION */











/* RESP SERVICES SECTION */

@media only screen and (max-width: 960px) {

    #services {
        position: relative;
    }
    
    #services::before {
        content: "";
        background-image: url(https://images.unsplash.com/photo-1574679626212-7d11aa571832?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
        background-size: cover;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        border-radius: 25px;
      }

    #services img {
        display: none;
    }

    #services form {
        margin: 20px;
    }

    #services .calendar {
        position: relative;
        padding-top: 20vh;
    }

}


/* END OF RESP SERVICES SECTION */













/* WORKOUT SECTION */

#workout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 150px 0;
}

#workout video {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

/* END OF WORKOUT SECTION */









/* WORKOUT RESP SECTION */

@media only screen and (max-width: 550px) {


    #workout video {
        width: 100%;
        height: auto;
        border-radius: 25px;
        margin-top: 25vh;
    }

}

/* END OF RESP WORKOUT SECTION */












/* CONTACT SECTION */

#contact {
    text-align: center;
    padding: 20vh 2vh 0 2vh;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

#contact h3 {
    font-size: 16px;
    margin: 20px 0 20px 0;
    font-weight: 400;
}

#contact form {
    display: inline-block;
    text-align: left;
    margin: 20px 0 0 0;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
}

#contact form label {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

#contact form input[type="text"], #contact form input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


#contact form button[type="submit"] {
    display: inline-block;
    padding: 10px 40px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#contact form button[type="submit"]:hover {
    background-color: #056644;
}

#contact .social {
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#contact a {
    text-decoration: none;
    opacity: 0.7;
    margin: 1vh;
}

#contact a:hover {
    opacity: 1;
}

/* END OF CONTACT SECTION */








/* FOOTER */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
  
footer p {
    font-size: 18px;
    margin: 0;
}
  
/* END */